[Unit]
Description=Timer Check Interval IL every 5 min

[Timer]
OnActiveSec=1min
OnUnitActiveSec=3min
Persistent=true
Unit=ids_il.service

[Install]
WantedBy=timers.target
